.item {
  background-color: white;
  margin: 50px;
  padding: 25px;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  display: none;
}

.image img {
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;

  animation-name: carrossel;
  animation-delay: 1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.img {
  width: 25%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation-name: carrossel;
  animation-delay: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.info span {
  display: block;
  text-align: center;
  color: #1e1e1e;
  padding: 5px;
  border-radius: 10px;
}

.info article {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.nome {
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 10px 0;
  background-color: rgb(103, 212, 176);
  border-radius: 20px;
}

.profissao {
  font-size: 1.5rem;
  font-weight: bold;
}

.descricao {
  margin-top: 5px;
  font-size: 1rem;
}

.hobbies {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgb(103, 212, 176);
}

@keyframes carrossel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
