* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #e1e1e1;
  color: #1e1e1e;
  display: grid;
  place-items: center;
}

.container {
  max-width: 75vw;
}

.container .carrossel {
  display: flex;
  scroll-behavior: smooth;
}

.container .carrossel::-webkit-scrollbar {
  display: none;
}

.container .carrossel .item {
  background-color: white;
  margin: 50px;
  padding: 25px;
  width: 500px;
  border-radius: 10px;
  display: none;
}

.container .carrossel .active {
  display: block;
}

.container .carrossel .item .image img {
  width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.img {
  width: 25%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .carrossel .item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .carrossel .item .info span {
  display: block;
  text-align: center;
  color: #1e1e1e;
  padding: 5px;
  border-radius: 10px;
}

.container .carrossel .item .info .nome {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.container .carrossel .item .info .profissao {
  font-size: 1.2rem;
}

.container .carrossel .item .info .descricao {
  margin-top: 5px;
  font-size: 1rem;
}

.container .carrossel .item .info .hobbies {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: aquamarine;
}


.container .carrossel .item .info article {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.container .buttons {
  text-align: center;
}

.container .buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.container .buttons button:first-child img {
  transform: rotate(180deg);
}

.container .buttons button:disabled {
  display: none;
}

.botao {
  width: 75px;
  height: 75px;
  padding: 8px;
}
