* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background-color: #e1e1e1;
  color: #1e1e1e;
  display: grid;
  place-items: center;
}

.container {
  max-width: 75vw;
}

.container .carrossel {
  display: flex;
  scroll-behavior: smooth;
}

.container .carrossel::-webkit-scrollbar {
  display: none;
}

.container .carrossel .active {
  display: block;
}
